<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>HomePage</title>
</head>
<body class="bg-gray-300">

    <div class="text-center">
        <h1 class="pt-14 pb-4 font-bold text-4xl">This is the HomePage!</h1>
        <div>
        <span class="underline underline-offset-4 ml-4 hover:text-red-800"><a href="/">Home</a></span>
        <span class="underline underline-offset-4 ml-4 hover:text-red-800"><a href="/users">Users</a></span>
        <span class="underline underline-offset-4 ml-4 hover:text-red-800"><a href="/products">Products</a></span>
        <span class="underline underline-offset-4 ml-4 hover:text-red-800"><a href="/login">Login</a></span>
        <span class="underline underline-offset-4 ml-4 hover:text-red-800"><a href="/register">Register</a></span>
        </div>
        <div class="py-10">
            <p>In order to see products you must log in.</p>
            <p>If you don't have an account first register and then log in</p>

        </div>
    </div>
    
</body>
</html>