<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Users</title>
</head>
<body>
    <div class="text-center">
        <h1 class="pt-14 pb-4 font-bold text-4xl">Users Page!</h1>
        <div>
        <span class="underline underline-offset-4 ml-4 hover:text-red-800"><a href="/">Home</a></span>
        <span class="underline underline-offset-4 ml-4 hover:text-red-800"><a href="/users">Users</a></span>
        <span class="underline underline-offset-4 ml-4 hover:text-red-800"><a href="/products">Products</a></span>
        <span class="underline underline-offset-4 ml-4 hover:text-red-800"><a href="/login">Login</a></span>
        <span class="underline underline-offset-4 ml-4 hover:text-red-800"><a href="/register">Register</a></span>
        </div>

    </div>

    <h1 class="text-xl pb-4">Users Data:</h1>
            <table>
        <thead>
            <tr>
                <th>Username</th>
                <th></th>
                <th>Email</th>
                <th></th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.username %></td>
                    <td></td>
                    <td class="text-right"><%= user.email %></td>
                    <td></td>
                    <td class="text-right"><%= user.password %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
    
</body>
</html>